@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: #f7f4ef;
    color: #161310;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Space Grotesk", system-ui, sans-serif;
  }
}
